$menu-bg-color: linear-gradient(to right, #52AF57, #A4C954);
$hdr-bg-color: transparent;

@import 'https://fonts.googleapis.com/css?family=Oswald';

#header {
	background-color: $hdr-bg-color;
	background-image: url("/themes/orfeus/images/wind.png"), linear-gradient(to top left, #2991CE, #0C71B8);
	background-position: top center;
	background-size: 170px, 100%;
	background-repeat: repeat, no-repeat;	

.site-branding__text {
	background-color: rgba(0, 0, 0, 0.49);
	border-radius: 15px;
	padding: 5px;
}

.site-branding__name a {
	font-size: 1.75em;
	color: white;
	font-family: Futura;
}

.site-branding__logo {
	max-width:25%;
	margin: 0 0 0 0;
}

}

#page {
	background-image: url('/themes/orfeus/images/solar.jpg');
	background-position: right bottom;
	background-size: 100%;
	background-repeat: no-repeat;
	@media (max-width: 62em) {
	background-size: 200%;
	}

	#main-wrapper {
		background: unset;
	}

}

.first-last-name {
	color: white;
	background-color: #E58332;
	font-size: 3em;
	font-weight: bold;
	text-align: right;
	padding: 0.5em;
	@media (max-width: 62em) {
	text-align: center;
	}
}

.professional-title {
	font-weight: bold;
	padding: 2em 0 2em 0em;
	font-size: 1.1em;
	@media (max-width: 62em) {
	text-align: center;
	}
}

.headshot {
	text-align: center;
	img {
		float: right;
		margin: 2em;
		border-radius: 60px 0px;
		box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);

		@media (max-width: 62em) {
			float: none;
		}
	}
}

.subbrand {
	border-top: none;
	
	.view-affiliate-logos-view {
		.view-content {
			display: flex;
			align-items: center;
			justify-content: center;
			
			@media (max-width: 62em) {
				flex-flow: column;
			}
		}
		.affiliate-logo-row {
			max-width: 25%;
			padding: 1.25em;
			@media (max-width: 62em) {
				max-width: 50%;
			}
		}
	}
	
}

#menubar {
	.region-menubar {
		.menu--main {
			background-color: transparent;
			background: $menu-bg-color;
			border-top: 8px solid #19914D;
		}
		}
}